<div class="container">

  <h1> Watchlists </h1>

<div class="d-flex justify-content-end">
  <%= link_to new_list_path do %>
    <i class="fa-solid fa-plus fs-3"></i>
  <% end %>
</div>

  <div></div>
    <%@lists.each do |list| %>
      <div class='list-item p-2 m-2'>
      <%= link_to list.name, list_path(list), class:'text-decoration-none text-black' %> <%= list.bookmarks.count %>
      </div>
    <% end %>
  </div>

</div>
