<div class="container">

  <h1> Watchlists </h1>

<div class="d-flex justify-content-end">
  <%= link_to new_list_path do %>
    <i class="fa-solid fa-plus fs-3"></i>
  <% end %>
</div>

  <div></div>
    <%@lists.each do |list| %>
      <div class='list-item p-2 m-2'>
      <%# <% if list.photo.attached? %>
        <%# <% cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      <%# <% end %>
       <%= link_to list.name, list_path(list), class:'text-decoration-none text-black' %> <%= list.bookmarks.count %>
      </div>
      <div class="list-movie">
      </div>
    <% end %>
  </div>

</div>
